#!/bin/zsh

# .aliases:
#   Aliases for git.
# author: Everett
# created: 2020-10-26 11:25
# Github: https://github.com/antiqueeverett/

# -- checkout
git config --global alias.co 'checkout'

# -- status and logs
git config --global alias.s 'status'
git config --global alias.ls 'ls-tree --full-tree -r --name-only HEAD'
git config --global alias.pretty-log 'log --pretty="format:%h %G? %aN  %s"' # ???

# -- reset
git config --global alias.rst 'restore'

# -- size and tracking
git config --global alias.size 'count-objects -vH'
git config --global alias.track 'ls-tree -r master --name-only'

# -- patch
git config --global alias.patch 'add --patch'

# Custom aliases;
#   overriding default git commands
#   to extend  functionality
function git () {
    if [ "$1" = "root" ]; then
        root
    elif  [ "$1" = "pull" ]; then
        pull
    elif [ "$1" = "clone" ]; then
        clone "$@"
    elif  [ "$1" = "attach" ]; then
        attach "$@"
    elif  [ "$1" = "sub" ]; then
        shift
        sub "$@"
    elif  [ "$1" = "br" ]; then
        shift
        br "$@"
    else
        command git "$@"
    fi
}

function sub () {
    if  [ "$1" = "update" ]; then
        subupdate
    elif  [ "$1" = "rm" ]; then
        subrm "$@"
    elif  [ "$1" = "add" ]; then
        shift
        subadd "$@"
    elif  [ "$1" = "commit" ]; then
        subcommit
    elif  [ "$1" = "push" ]; then
        subpush
    elif  [ "$1" = "ls" ]; then
        sublst
    fi
}

function br () {
    if  [ "$1" = "mv" ]; then
        brm "$@"
    elif  [ "$1" = "touch" ]; then
        brmk "$@"
    fi
}

