#!/bin/zsh

# .aliases:
#   Aliases for git.
# author: Everett
# created: 2020-10-26 11:25
# Github: https://github.com/antiqueeverett/

# -- checkout
git config --global alias.co 'checkout'
git config --global alias.cobr 'checkout -b'

# -- status and logs
git config --global alias.s 'status'
git config --global alias.ls 'ls-tree --full-tree -r --name-only HEAD'
git config --global alias.pretty-log 'log --pretty="format:%h %G? %aN  %s"'

# -- submodule operations
git config --global alias.subadd 'submodule add'

# -- branch operations
git config --global alias.br 'branch'
git config --global alias.brd 'branch -d'
git config --global alias.brf 'branch -f'

# -- rebase operations
git config --global alias.rb 'rebase'
git config --global alias.rbi 'rebase -i'

# -- reset
git config --global alias.rst 'restore'

# -- size and tracking
git config --global alias.size 'count-objects -vH'
git config --global alias.track 'ls-tree -r master --name-only'

# -- patch
git config --global alias.patch 'add --patch'


# -- alias git funntions
FUNCTIONS="$HOME/dotfiles/git/functions.zsh"
source "$FUNCTIONS"

# git:
#   Overrides the git command.
function git () {
    if [ "$1" = "root" ]; then
        root
    elif [ "$1" = "diff" ]; then
        diff
    elif  [ "$1" = "pull" ]; then
        pull
    elif  [ "$1" = "brm" ]; then
        brm "$@"
    elif  [ "$1" = "brmk" ]; then
        brmk "$@"
    elif [ "$1" = "clone" ]; then
        clone "$@"
    elif  [ "$1" = "subrm" ]; then
        subrm "$@"
    elif  [ "$1" = "sublst" ]; then
        sublst
    elif  [ "$1" = "attach" ]; then
        attach "$@"
    else
        command git "$@"
    fi
}

